@import url("https://www.fontsquirrel.com/fonts/public-sans");

.hello-screen {
  font-family: "Arial", sans-serif;
  color: #333;
}

.welcome-message {
  margin-left: 15%;
}
.welcome-message h2 {
  text-align: left;
  color: #000;
  font-size: 30px;
  /* Add any additional styling for the welcome message */
}
.welcome-message h3 {
  text-align: left;
  color: #4c6ef5;
  font-size: 50px;
  margin-top: -3px;
  /* Add any additional styling for the welcome message */
}
.welcome-message h4 {
  text-align: left;
  color: #000;
  margin-top: -30px;
  font-size: 30px;
  /* Add any additional styling for the welcome message */
}

.welcome-message h5 {
  text-align: left;
  color: #000;
  font-size: 60px;
  margin-top: -3px;
  /* Add any additional styling for the welcome message */
}
.welcome-message h4,
.welcome-message h5 {
  display: inline; /* 헤딩 요소를 인라인 요소로 설정 */
}

.navigation {
  display: flex;
  justify-content: space-around;
  padding: 20px 0;
  margin-top: 180px;
  background-color: transparent; /* 배경색을 투명하게 설정 */
  border: none; /* 테두리를 없앱니다 */
}

.navigation button {
  background-color: transparent; /* 버튼의 배경색을 투명하게 설정 */
  border: none; /* 버튼의 테두리를 없앱니다 */
  padding: 0; /* 내부 패딩을 없앱니다 */
}

.navigation button img {
  width: 50px; /* 이미지의 크기를 조정합니다 */
  height: 50px;
}
/* Add responsive or additional styles as needed */
